$primaryColor: gray;

body {
  background-color: lightpink;
  background-image: url('./images/big-img.jpg');
}

h1 {
  border: 1px dashed $primaryColor;
  background-image: url('./images/some-image.png');
}

.one {
  color: black;
}

.two {
  color: white;
}
